<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fondos en CSS</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('cursos/cursoCss/4-cajas-styles.css') }}">

    </head>
    <body>
        <h1>Cajas en Css</h1>
        <!-- Elementos flotados-->
        <section id="cajas">
            <div class="caja">
                <p>Contenido caja 1</p>
            </div>
            <div class="caja">
                <p>Contenido caja 2</p>
            </div>
            <div class="caja">
                <p>Contenido caja 3</p>
            </div>
            <div class="caja">
                <p>Contenido caja 4</p>
            </div>
            <div class="caja">
                <p>Contenido caja 5</p>
            </div>
            <div class="caja">
                <p>Contenido caja 6</p>
            </div>
            <div class="caja">
                <p>Contenido caja 7</p>
            </div>
            <div class="caja">
                <p>Contenido caja 8</p>
            </div>
            <div class="caja">
                <p>Contenido caja 9</p>
            </div>
            <!--Limpiar los flotados-->
            <div class="clearfix"></div>
        </section>

        <!-- Elementos no flotados deben estar debajo de las cajas-->
        <h2>Contenido despues de las cajas posicionadas</h2>
        <p>texto de prueba</p>
    </body>
</html>