<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejecicio con HTML y CSS</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('cursos/cursoCss/5-ejercicio-styles.css') }}">
</head>
<body>
    <div id="general">
        <header id="header">
            <h1>Ejercicio con HTML y CSS.</h1>
        </header>
        <nav id="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Articulos</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <div class="clearfix"></div>
        </nav>
        <section id="contenido">
            <h1>Cajas del contenido principal</h1>
            <div class="caja">
                <h2>Caja 1</h2>
            </div>
            <div class="caja sombra-interior">
                <h2>Caja 2</h2>
            </div>
            <div class="caja">
                <h2>Caja 3</h2>
            </div>
            <div class="caja">
                <h2>Caja 4</h2>
            </div>
            <div class="caja">
                <h2>Caja 5</h2>
            </div>
            <div class="caja">
                <h2>Caja 6</h2>
            </div>
            <div class="caja">
                <h2>Caja 7</h2>
            </div>
            <div class="caja">
                <h2>Caja 8</h2>
            </div>
        </section>

        <aside id="lateral">
            <div class="caja">
                <h2>Elemento de la barra lateral</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa dicta dolor dolore eius eveniet, fugit incidunt magnam minus, nemo neque nobis perferendis porro repudiandae sed, tempora veniam voluptatibus!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dolorum esse fugiat rem? Deserunt distinctio ducimus ea iste porro quidem repudiandae vero! Architecto deserunt eligendi laboriosam minima nobis, quisquam.

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea earum est excepturi ipsa ipsam itaque nobis quibusdam quod voluptate. Dolorem modi sequi sint ullam ut? Adipisci placeat quam sint!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at autem dolores, incidunt ipsam iste itaque iure iusto labore laboriosam magni necessitatibus nesciunt, nostrum optio quas repudiandae, sint sit ut!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut beatae blanditiis cupiditate dignissimos distinctio eligendi fugit labore laudantium libero magnam maiores, maxime nisi numquam placeat quis quod tempora voluptatum.

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto debitis, deleniti eaque enim error eveniet explicabo impedit ipsa ipsam itaque, molestiae, neque obcaecati optio perspiciatis quibusdam sequi ut veniam.

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa earum libero officia quo sequi velit. Facere quaerat temporibus tenetur. Aspernatur assumenda doloribus earum iste nam nesciunt numquam quis rem rerum?

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam autem beatae consequuntur deleniti, ex harum natus neque non, numquam quia reprehenderit sit totam ullam, veniam? Eum laudantium odio sint?
                </p>
            </div>
        </aside>

        <div class="clearfix"></div>
        <footer id="footer">
            Todos los derechos reservados &copy; Sebastian Hernandez
        </footer>
    </div>

    <div class="libre libre1">
        soy la caja libre
    </div>

    <div class="libre libre2">
        soy la caja libre
    </div>
    <div class="fija">
        soy la caja libre
    </div>
</body>
</html>