<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pseudoclases en css</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('cursos/cursoCss/6-pseudoclases-styles.css') }}">
</head>
<body>
    <h1>Pseudoclases CSS</h1>

    <ul>
        <li>PHP</li>
        <li>JavaScript</li>
        <li>Go</li>
        <li>C</li>
    </ul>

    <a href="https://sebashernandez.com" id="mi-enlace">Sebas Hernandez</a>
    <br>
    <input type="text">
</body>
</html>