<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Master en CSS</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('cursos/cursoCss/styles-ejercicio1.css') }}">
    </head>
    <body>
        <h1 id="titulo">Master en css</h1>
        <ul id="menu">
            <li><a href="#">Inicio</a></li>
            <li>
                <a href="#">Temario</a>
                <ul>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">LESS</a></li>
                </ul>
            </li>
            <li><a href="#">Reseñas</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div id="descripcion">
            <h2>Descripcion del curso</h2>
            <p class="parrafo parrafo1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, iure fugit harum dicta facilis, nulla magni accusantium nobis sit repudiandae atque ipsa corporis nihil dolorum reiciendis dolores, ea magnam est!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, iure fugit harum dicta facilis, nulla magni accusantium nobis sit repudiandae atque ipsa corporis nihil dolorum reiciendis dolores, ea magnam est!</p>
            <p class="parrafo parrafo3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, iure fugit harum dicta facilis, nulla magni accusantium nobis sit repudiandae atque ipsa corporis nihil dolorum reiciendis dolores, ea magnam est!</p>
        </div>

        <div id="usuario">
            <form action="">
                <label for="">Nombre</label>
                <input type="text" name="nombre">
                <label for="">Apellido</label>
                <input type="text" name="apellidos">

                <input type="submit" name="submit" value="Enviar">
            </form>
        </div>

        <div id="saludo">
            <h1>Hola soy Sebastian Hernandez</h1>
        </div>

        <footer>
            Todos los derechos reservador &copy; <a href="https://sebashernandez.com">sebashernandez.com</a>
        </footer>
    </body>
</html>