<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fuentes en CSS</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('cursos/cursoCss/styles-ejercicio2.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">

    </head>
    <body>
        <h1>Fuentes en CSS</h1>
        <h3>Subtitulo de la pagina</h3>
        <p>Texto de pruebas con fuentes</p>
    </body>
</html>